{% extends "base.html" %}

{% block title %}
    List User
{% endblock %}

{% block content %}

    <hr/>

    <table class="table table-hover table-striped  table-bordered table-condensed">

        <tr>
            <th>命令</th>
            <th>机器IP</th>
            <th>日志</th>
            <th>时间</th>
        </tr>

            {% for i in lPage %}
                <tr style="font-size: 13px;">
                    <td>{{ i.cmd }}</td>
                    <td>{{ i.machine }}</td>
                    <td>{{ i.log }}</td>
                    <td>{{ i.datetime }}</td>
                </tr>
            {% endfor %}

        </table>
    {% include "paginator.html" %}

{% endblock %}
