{% extends "base.html" %}

{% block title %}
    List User
{% endblock %}

{% block content %}

    <hr/>

    <table class="table table-hover table-striped  table-bordered table-condensed">

        <tr>
            <th>脚本名称</th>
            <th>机器IP</th>
            <th>备注</th>
            <th>是否执行</th>
        </tr>

            {% for i in lPage %}
                <tr style="font-size: 13px;">
                    <td>{{ i.script_file }}</td>
                    <td>
                        {% for foo in i.machines.all %}
                         {{ foo }}
                        {% endfor %}
                        
                    </td>
                    <td>{{ i.remark }}</td>
                     <td>
                        {% if i.is_run %}
                            <span class="label label-success">已执行</span>
                        {% else %}
                            <a class="btn btn-danger btn-xs" href={% url "runurl" i.id %} onclick="return confirm('是否确认执行？')">执行</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </table>
    {% include "paginator.html" %}

{% endblock %}
